
body {margin:0;}

.googleMap {
  position: fixed;
  z-index: 1;
  overflow-y: auto;
}

.icon-bar {
    width: 100%;
    height: 7vh;
    background-color: #555;
    float: left;
    padding: 12px;
    padding-left: 40px;
    overflow: auto;
}

/* Search bar setup design */
.search[type=text] {
    width: 500px;
    float: left;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    /* search icon formatting*/
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 12px 20px 12px 40px;
}

  .add-e{
    font-family: sans-serif;
    color: #ADAFAF;
    float: left;
    padding: 10px;
    padding-right: 60px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .add-e-icon{
    font-family: sans-serif;
    color: #ADAFAF;
    float: right;
    padding-right: 30px;
    padding: 13px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .dropdown {
  display: none;
  background-color: #7FDBFF;
  width: 30%;
  height: 100vh;
  float: right;
  top: 10.8vh;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: fixed;
  z-index:2; /*order of elements on top of each other */
}

.info[type=text]{
  display:  block;
  margin: 0 auto;
  padding: 12px 20px 12px 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 230px;
}

.location[type=text]{
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px 20px 12px 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 230px;
}

.description[type=text]{
  display: block;
  margin: 0 auto;
  padding: 12px 20px 75px 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 230px;
}

.contact[type=text]{
  display: block;
  margin: 0 auto;
  padding: 12px 20px 12px 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 230px;
}
